
@{
    ViewBag.Title = "ShoppingCartRegister";
    Layout = "~/Views/Shared/_Layout_Web.cshtml";
}

<div class="box_all_web">
    <div class="box_register">
        @************************************************************************************@
        <div class="topic_login">PERSONAL INFORMATION</div>
        <div class="boxForm_register">
            <div class="topic_nameForm">First Name</div>
            <input class="textbox_web" style="width:315px;" />
        </div>
        <div class="boxForm_register">
            <div class="topic_nameForm">Last Name</div>
            <input class="textbox_web" style="width:315px;" />
        </div>
        <div class="boxForm_register">
            <div class="topic_nameForm">Phone</div>
            <input class="textbox_web" style="width:315px;" />
        </div>
        <div class="boxForm_register">
            <div class="topic_nameForm">E-mail</div>
            <input class="textbox_web" style="width:315px;" />
        </div>
        @************************************************************************************@
        <div class="topic_login">ADDRESS INFORMATION</div>
        <div class="boxForm_register" style="width:720px;">
            <div class="topic_nameForm">Address</div>
            <textarea class="textbox_web" style="width:675px; height:auto;"></textarea>
        </div>
        <div class="boxForm_register">
            <div class="topic_nameForm">State/Province</div>
            <input class="textbox_web" style="width:315px;" />
        </div>
        <div class="boxForm_register">
            <div class="topic_nameForm">District</div>
            <input class="textbox_web" style="width:315px;" />
        </div>
        <div class="boxForm_register">
            <div class="topic_nameForm">Subdistrict</div>
            <input class="textbox_web" style="width:315px;" />
        </div>
        <div class="boxForm_register">
            <div class="topic_nameForm">Zip/Postal Code</div>
            <input class="textbox_web" style="width:315px;" />
        </div>
        <div style="width:910px; float:left; margin-top:30px; overflow:auto; height:auto;">
            <div><a href="/Web/ShoppingCartEnd" class="button_web">Submit</a></div>
        </div>
    </div>
</div>


