@{
    ViewBag.Title = "ShoppingCartEnd";
    Layout = "~/Views/Shared/_Layout_Web.cshtml";
}

<div class="box_all_web">
    <div class="topic_login">Your order has been received.</div>
    <div class="box_register">
        <div class="topic_login" style="width:805px;">THANK YOU FOR YOUR PURCHASE</div>
        <div class="text_gray" style="width:805px;">Your order # is @Model.orderID</div>
        <div class="text_gray" style="width:805px;">You will receive an order confirm email with details of your order and a link to track its progress</div>
        <div><a href="Web/Index" class="button_web" style="float:right; margin-top:30px;">Continue Shopping</a></div>
    </div>
</div>

